

.full-width {
    background-color: rgba(7, 7, 159, 0.733);
    justify-content: center;
    width: 100%;
    align-items: center;
    border-bottom: 5px solid rgb(73, 67, 67);
    
}

.h01  {
font-size: 2.0rem;
font-weight: bold;
color: white; 
outline-color: black;
justify-content: center;
align-items: center;
outline-width: 5px;
text-shadow: 10rem;
}
body {
    background-color: azure;
}
main {
    justify-content: center;
    align-items: center;
    max-width: 90%;
    background-color: blanchedalmond;
    color: blue;
    padding-top: 15px;
    padding-bottom: 20px;
    border: 5px solid white;
}

footer {
    text-shadow: 10px;
    color:rgb(243, 196, 196);
    background-color: rgba(19, 11, 239, 0.522);
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid;
    border-top: 10px;
    border-color: azure;
    font-size: large;
}
img {
    float: left;
    border-radius: 15px;
    padding-right: 20px;
    border: 2px solid rgba(28, 57, 78, 0.414)
}